html {
  height: 100%;
  padding: 0;
  margin: 0;
  
}

.app-content {
  margin-top: 64px;
background-color: black
 
}

.map-container {
  height: 95.7vh;
}
body {
  height: 100vh !important;
  max-height: 100vh;
  background-color: black !important;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  margin: 0;
  
}
  .navBarColor {
   background-color: #515254 !important;
    
   //position: fixed;
  }
  .textNav {
    color:#fff;
    margin : 10px; 
    text-decoration: none;
    font-size: 25px;
    
  }
.styleLogin {
position: relative;
top: 200px;
font-size: 20px;
width: 30%;
background-color: orange;
left: 35%;
opacity: 0.6;
border-radius: 25px;



  }
.App-link {
  
  text-decoration: none;
}
.list-group-item.active {
  color: black !important
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.container {
  width: 100% !important;
  max-width: initial !important;
  padding: 0 !important;
  height: 87vh;
}

.root {
 height: 100%; 
}

.artist {
  margin-top: 20px;
  font-size: 10px;
  justify-content: center
}

.col-4 {
  padding-left: 41px !important;
}

.list-group-item.active {
  background-color: #515254 !important;
    border-color: #515254 !important;
    font-size: 10px !important;
}
.col-8 {
  padding: 0px !important;
}
.genero-list {
  font-size: 30px;
  color:white;  
}
.description-list {
  font-size: 25px;
  color:white;
}
a {
  color:white !important;
}
.hr {
  height: 2px;;
}

#map {
  width: 88vw;
  height: 96vh;
  position: relative;
  overflow: hidden;
}
.MuiGrid-justify-xs-center-137{
  height: 450px;
  
}
.login-signup{
  color:black !important;
}