/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: rgb(9, 160, 248);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-navbar {
  display: flex;
  flex-direction: row
} */
html {
  
  height: 100%;
}
body {
  height: 100%;
  /* background-image: url("/images/fondo.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
}
.App-link {
  color: #61dafb;
}
.list-group-item.active {
  color: black !important
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
