
.container-Profile{
    display: flex;
    flex-direction: column;
}
.profile-component{
   flex-direction: row //maquetacion
  }
.myprofile-component{
//maquetacion
}
.gallery-item {
    size:500px;
    width: 500px;
    border-radius: 20%;
}
